{% extends 'happenings/middle.html' %}
{% load staticfiles happenings_tags %}
{% block content %}
<h1>Agenda</h1>
<p>
    {% with months|last as next %}
    <a href="{% url "calendar:agenda_date" next.year next.month %}">
        prev
    </a>
    {% endwith %}
    <a href="{% url "calendar:agenda_date" months.3.year months.3.month %}">
        | next
    </a>
</a>
</p>

{% for d in events %}

    <h3>Events for <span id="agenda-mo-yr">
        {% if forloop.first %}
            {{ months.0|date:"F, Y" }}
        {% elif forloop.last %}
            {{ months.2|date:"F, Y" }}
        {% else  %}
            {{ months.1|date:"F, Y" }}
        {% endif %}
    </span></h3>

    {% for k, v in d.items %}

        {% comment %} 
            Here we use the custom filter to_datetime to create a 
            datetime using the day (variable k) and the month and 
            year from months (which contains datetime.date()s. 
            This is done so that we can format it using Django's 
            built-in date filter and display the weekday of the event.
        {% endcomment %}
        {% if forloop.parentloop.first %}
            {{ k|to_datetime:months.0|date:"l, F d" }}
        {% elif forloop.parentloop.last %}
            {{ k|to_datetime:months.2|date:"l, F d" }}
        {% elif not forloop.parentloop.first or forloop.parentloop.last %}
            {{ k|to_datetime:months.1|date:"l, F d" }}
        {% endif %}
        <br>
            <ul>
                {% for t, pk in v %}
                    <li><a href="/calendar/event/{{ pk }}">{{ t }}</a></li>
                {% endfor %}
            </ul>
    {% endfor %}
    <br>
{% endfor %}
{% endblock content %}
