{% extends 'happenings/middle.html' %}
{% load staticfiles happenings_tags %}
{% block content %}
<h1>Agenda</h1>

{% for d in events %}

        <h3>Events for <span id="agenda-mo-yr">
        {% if forloop.first %}
            {{ months.0|date:"F, Y" }}
        {% elif forloop.last %}
            {{ months.2|date:"F, Y" }}
        {% else  %}
            {{ months.1|date:"F, Y" }}
        {% endif %}
        </span></h3>

    {% for k, v in d.items %}
        <span id="agenda-day">{{ k }}</span><br>
            <ul>
                {% for t, pk in v %}
                    <li><a href="/calendar/event/{{ pk }}">{{ t }}</a></li>
                {% endfor %}
            </ul>
    {% endfor %}
    <br>
{% endfor %}
{% endblock content %}
