{% load i18n %}
{% load url from future %}
<td class="{{ cssclass }} calendar-today">
<div class="td-inner">
  <a href="{% url 'day_list' calendar.yr calendar.mo day %}">{{ day }}</a>
  {% for event in events %}
    <a class="event-anch" href="{{ event.get_absolute_url }}">
      <div
           title="{{ event.title }}{{ event.title_extra }}"
           data-content="{{ event.last_popover_html|force_escape }}"
           data-container="body"
           data-toggle="popover"
           class="calendar-event"
           style="background:{{ event.colors.bg }};color:{{ event.colors.fnt  }};"
           >
        {{ event.display_title %}}{{ event.title_extra }}
      </div>
    </a>
  {% endfor %}
</div>
</td>